In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
import operator
import geopy.distance
from sklearn import preprocessing
# import warnings
# warnings.filterwarnings("ignore")

pd.options.display.max_columns = 200
%matplotlib inline

In [3]:
train_orig = pd.read_csv('clean_train6_categorical.csv.zip')
train_orig.shape

(12905719, 13)

In [4]:
train_orig.head()

,row_id,start_lng,start_lat,end_lng,end_lat,duration,dist,manhattan_dist,region,admin1,admin2,weekday,hour
0,0,-74.009087,40.713818,-74.004326,40.719986,112,794,1216,New York City,New York,Kings County,Saturday,23
1,1,-73.971176,40.762428,-74.004181,40.742653,1159,3548,5870,Manhattan,New York,New York County,Saturday,23
2,2,-73.994957,40.745079,-73.999939,40.734650,281,1232,1714,Weehawken,New Jersey,Hudson County,Thursday,22
3,3,-73.991127,40.750080,-73.988609,40.734890,636,1700,1970,Weehawken,New Jersey,Hudson County,Thursday,22
4,4,-73.945511,40.773724,-73.987434,40.755707,705,4066,6667,Manhattan,New York,New York County,Sunday,3

In [5]:
train_orig.dtypes

row_id              int64
start_lng         float64
start_lat         float64
end_lng           float64
end_lat           float64
duration            int64
dist                int64
manhattan_dist      int64
region             object
admin1             object
admin2             object
weekday            object
hour                int64
dtype: object

In [6]:
for c in train_orig.columns:
    print(c)
    if train_orig[c].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(train_orig[c].values)) 
        train_orig[c] = lbl.transform(list(train_orig[c].values))

row_id
start_lng
start_lat
end_lng
end_lat
duration
dist
manhattan_dist
region
admin1
admin2
weekday
hour

In [7]:
# Split data to train and test sets
y_all = train_orig['duration']
x_all = train_orig.drop(['row_id', 'duration'], axis=1) #, 'start_lng', 'start_lat', 'end_lng', 'end_lat'], 'region', 'admin1', 'admin2'

x_train, x_test, y_train, y_test = train_test_split(x_all, y_all, test_size=0.1, random_state=2018)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((11615147, 11), (1290572, 11), (11615147,), (1290572,))

In [8]:
lm = LinearRegression(n_jobs = 3)
lm = lm.fit(x_train, y_train)

/Users/tamirlan/anaconda3/lib/python3.6/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

In [9]:
pred_train = lm.predict(x_train)
print('Train Mean Absolute Error:', mean_absolute_error(y_train, pred_train))

pred_test = lm.predict(x_test)
print('Test Mean Absolute Error:', mean_absolute_error(y_test, pred_test))

Train Mean Absolute Error: 284.3607358502357
Test Mean Absolute Error: 284.50669966661695